---
interface Props {
  id: number;
  title: string;
  description: string;
  image: string;
  animatedImage: string;
}

const { id, title, description, image, animatedImage, slug } = Astro.props;
---

<a
href={`/portfolio/${slug}`}
  class="shadow-ctc group relative ml-2 inline-flex h-auto w-full translate-x-0 translate-y-0 flex-col border border-slate-600 p-4 font-mono hover:-translate-x-1 hover:-translate-y-1 hover:border-4 hover:border-black hover:shadow-retro"
>
  <img
    class="aspect-[144/77] border object-cover grayscale group-hover:grayscale-0"
    src={image}
  />

  <div class="py-4">
    <p class="text-xl font-bold">{title}</p>
    <p class="text-md font-sans">{description}</p>
  </div>
</a>

<style>
  .shadow-cta {
    -webkit-transition:
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    -o-transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
  }

  .shadow-ctb {
    -webkit-transition:
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    -o-transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition-delay: 0s;
  }

  .shadow-ctb:hover {
    transition-delay: 400ms;
  }

  .shadow-ctc {
    -webkit-transition:
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    -o-transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition-delay: 0s;
  }

  .shadow-ctd {
    -webkit-transition:
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    -o-transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition:
      transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
      -webkit-box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
    transition-delay: 0s;
  }

  .shadow-ctd:hover {
    transition-delay: 200ms;
  }
</style>
