---
const { techs } = Astro.props;
---

<h2
  class="not-prose mt-10 border-t-2 border-black pt-5 text-center font-ar-one text-2xl font-semibold"
>
  BUILT WITH
</h2>
<div
  class="text mx-auto flex w-3/4 flex-wrap justify-center gap-2 pt-5 font-roboto-mono text-sm"
>
  {
    techs.map((item: string) => (
      <span class="border border-black px-2 py-1">{item}</span>
    ))
  }
</div>
