---
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const portfolios = await getCollection("portfolio");
  return portfolios.map((portfolio) => ({
    params: { slug: portfolio.slug },
    props: portfolio,
  }));
}
type Props = CollectionEntry<"portfolio">;
const portfolio = Astro.props;
const { Content } = await portfolio.render();
---

<div class="bg-white p-14">
  <div
    transition:name={"container-" + portfolio.slug}
    class="border-4 border-black shadow-retro transition-all"
  >
    <article class="prose prose-xl mx-auto pt-12">
      <div class="not-prose">
        <img
          transition:name={"image-" + portfolio.slug}
          class="aspect-[144/77] w-full border border-slate-600 object-cover transition-all"
          src={portfolio.data.image}
        />
        <h1
          class="font-ar-one mt-10 text-6xl font-bold transition-all"
          transition:name={"title-" + portfolio.slug}
        >
          {portfolio.data.title}
        </h1>
        <p
          class="font-roboto-mono mt-5 transition-all"
          transition:name={"description-" + portfolio.slug}
        >
          {portfolio.data.description}
        </p>
      </div>

      <Content />
    </article>
  </div>
</div>
